# Data Science Tools and Ecosystem

In this notbook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List used tools for Data Science
- Observe arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. TensorFlow

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks |
| GitHub |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
Jos Chang